<%- include('../partials/header') %>
<%- include('../partials/navbar') %>




<main class="container" style="margin-top: 8rem">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form  action="/products" method="POST">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="Name of the product" required>

            </div>
            <div class="mb-3">
                <label for="img" class="form-label">Image URL</label>
                <input class="form-control" type="text" name="img" id="img" placeholder="Image url">
            </div>
             <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input class="form-control" type="number" name="price" id="price" placeholder="Price of the product" required>
            </div>
               <div class="mb-3">
                <label for="desc" class="form-label">Description</label>
                <input class="form-control" type="text" name="desc" id="desc" placeholder="Here goes the Description of the product">
            </div>
            <button type="submit" class="btn btn-success btn-small">Submit details</button>
            </form>
        </div>
    </div>

</main>

<br><br>







<%- include('../partials/footer') %>